{{!-- {{#each values}}       
<h1>{{(at)index}}. {{this}}</h1>      
{{/each}} --}}


 {{!-- <h1>{{person.comments.comment}}</h1> --}}

{{!-- ---------------Other Way to call objects---------------- --}}

{{!-- {{#with person}}
    {{#with comments}}
        <h1>{{comment}}</h1>
        <h2>{{date{}}</h2>
    {{/with}}
{{/with}} --}}


 {{#if security.admin}}

 <h1>This is admin Panel</h1>

 {{else}}

 <h1>You are not authorised to view this page</h1>

 {{/if}}



