<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-product" method="POST" enctype="multipart/form-data" >
                    <label for="">Product Name</label>
                    <input type="text" name="Name" class="form-control">
                    <label for="">Price</label>
                    <input type="text" name="Price" class="form-control">
                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button> 
                </form>
            </div>
        </div>

    </div>
</section>