<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data" >
                    <label for="">Product Name</label>
                    <input type="text" name="Name" class="form-control" value="{{product.Name}}">
                    <label for="">Price</label>
                    <input type="text" name="Price" class="form-control" value="{{product.Price}}">
                    <label for="">Image</label>
                    <img src="/product-images/{{product._id}}.jpg" style="width: 100px; height:100px;" id="imgView" class="p-3">
                    <input type="file" name="Image" class="form-control" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Update</button> 
                </form>
            </div>
        </div>

    </div>
</section>


<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>