<section>
    <div class="container">
        <div class="row">
            <a style="margin-top: 10px;" href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Price}}</td>
                    <td><img style="width: 50px;height:50px;" src="/product-images/{{this._id}}.jpg"></td>      <!-- image is not stored in the database, it is moved to the public folder with _id name !-->
                    <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do You Want to delete {{this.Name}} ?')">Delete</a> 
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>