
  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3">
          <div class="card text-center border-secondary" style="width: 18rem;">
            <img class="card-img-top" src="{{this.image}}"
              alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.price}}</p>
              <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
