<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
      <a style="padding-left: 20px;" class="heading navbar-brand" href="#">Admin Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/admin">All Products</a>
          <a class="nav-item nav-link" href="#">All Orders</a>
          <a class="nav-item nav-link" href="#">All Users</a>
        </div>
      </div>
    </nav>
  </header>