<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <a style="padding-left: 20px;" class="navbar-brand" href="/">A Square Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Products</a>
        <a class="nav-item nav-link active" href="/cart">Cart<span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>

        {{#if user}}
        <a class="nav-item nav-link active" href="#">Orders</a>
        {{/if}}
      </div>
    </div>
    <div class="dropdown">
            <button class="btn btn-info dropdown-toggle float-right" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if user}}
                  {{user.Name}}
                  {{else}}
                  Account
              {{/if}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#if user}}
                  <a class="dropdown-item" href="/logout">Logout</a>
                  {{else}}
                  <a class="dropdown-item" href="/login">Login</a>
              {{/if}}
            </div>
          </div>
  </nav>
</header>