<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                </tr>
            <tbody>
                {{#each products}}
                <tr>
                    {{#each this.product}}
                    <td><img style="width: 70px; height:70px;" src="/product-images/{{this._id}}.jpg"></td>
                    <td>{{this.Name}}</td>
                    {{/each}}
                    <td>
                        <button class="cart-item-count mr-3">-</button>{{this.quantity}}<button class="cart-item-count ml-3">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </thead>
        </table>
    </div>
</section>