
  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3 pb-5">
          <div class="card text-center border-secondary" style="width: 18rem;">
            <img class="card-img-top" src="/product-images/{{this._id}}.jpg"
              alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text">{{this.Price}}</p>

              <button onclick="addToCart('{{this._id}}')" class="btn btn-success">Add to Cart</button>

            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
